
@model MeunItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Create</h1>

    <h4>MenuItem</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Decrption" class="control-label"></label>
                    <input asp-for="Decrption" class="form-control" />
                    <span asp-validation-for="Decrption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imeg" class="control-label"></label>
                    <input asp-for="Imeg" class="form-control" />
                    <span asp-validation-for="Imeg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Spicyness" class="control-label"></label>
                    <input asp-for="Spicyness" class="form-control" />
                    <span asp-validation-for="Spicyness" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SubCategoryId" class="control-label"></label>
                    <select asp-for="SubCategoryId" class ="form-control" asp-items="ViewBag.SubCategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


<br />
<h2 class="text-info">Create MenuItem </h2>
<br />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="withBachgroud border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="MenuItem.Name"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Decrption" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="MenuItem.Decrption" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="MenuItem.Decrption"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Price" class="form-control" />
                <span class="text-danger" asp-validation-for="MenuItem.Price"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Imeg" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" multiple asp-for="MenuItem.Imeg" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select id="ddCategory" asp-for="MenuItem.CategoryId" asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select id="ddSubCategories" asp-for="MenuItem.SubCategoryId" asp-items="@(new SelectList(String.Empty,"Id","Name"))" class="form-control"></select>
                <span class="text-danger" asp-validation-for="MenuItem.SubCategoryId"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MenuItem.Spicyness" asp-items="@Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_cerateBackeToListButtonPartial" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function updateSubCategoryList() {
            var selectCategory = document.getElementById("ddCategory").value;
            $list = $('#ddSubCategories');
            $.ajax({
                url: '/Admin/SubCategories/GetSubCategory/' + selectCategory,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    resulats = JSON.parse(data);
                    $list.html('');
                    var item ='';
                    for (i in resulats) {
                        item += '<option value="' + resulats[i].value + '">' + resulats[i].text+ '<option>';
                    }
                    $list.html(item);
                }
            }
            );
        }
        $(document).ready(function () {
                updateSubCategoryList();

            });
        $('#ddCategory').on("change", function () {
                updateSubCategoryList();
            });



    </script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'

    });
</script>

}
